<h2>Director Profile</h2>

<img src=" <%= @director.profile_img %> " alt="">
<h3><%= @director.name %></h3>
<p><%= @director.description %></p>
<p>Movie Directed: <%= @director.featured_num %></p>
<p>Featured Movie: <%= @director.featured %></p>
<img src=" <%= @director.featured_img %> " alt="">
